<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-black text-uppercase d-none d-lg-inline-block" href="/">Gestionnaire des tâches</a>
  </div>
</nav>
